@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url('./fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("./fonts/Montserrat/static/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 200;
  src: url("./fonts/Montserrat/static/Montserrat-ExtraLight.ttf");
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

.launchpad {
  width: 100%;
  height: 70vh;
  background-image: url('./assets/jpg/Port_2_Background.jpg');
  background-size: cover;
  background-position: center;
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title__icon-container {
  width: 70px;
  height: auto;
}

.title__icon {
  filter: invert(100%);
}

.title__name {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  color: white;
}

.title__name-first {
  font-weight: 100;
}

.title__name-second {
  font-weight: 600;
}

.search {
  width: 40%;
  height: 40px;
  border: 1px solid #D5D5D5;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  overflow: hidden;
}

.input-button {
  width: 24px;
  height: 24px;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  filter: invert(98%) sepia(0%) saturate(2020%) hue-rotate(172deg) brightness(92%) contrast(82%);
}

.search__input {
  width: 90%;
  height: 35px;
  border: none;
  background-color: transparent;
  font-family: Inter, sans-serif;
  font-size: 20px;
  color: #D5D5D5;
}

.active .search__input {
  width: 80%;
}

.search__input::placeholder {
  color: rgb(78, 76, 76);
}

.search__input:focus {
  outline: none;
}

.search__abort {
  display: none;
}

.active .search__abort {
  display: block;
}

.image-container {
  width: 100%;
  height: auto;
  position: relative;
}

.images {
  position: relative;
  top: -50px;
  width: 95%;
  height: auto;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.gallery-img-container {
  width: 100%;
  height: calc((100vw - 40px) / 6);
  overflow: hidden;
  position: relative;
  cursor: zoom-in;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in;
}

.gallery-img-container:hover .gallery-img {
  transform: scale(1.2);
  transition: all 0.3s ease-in;
}

.description-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, rgba(71,201,229,0.9) 0%, rgba(102,252,233,0.9) 100%);
  opacity: 0;
  transition: opacity 0.5s;
  padding-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 5px;
}

.gallery-img-container:hover .description-container {
  opacity: 0.9;
  transition: opacity 0.5s;
}

.image-link {
  width: 100%;
  height: 100%;
  cursor: zoom-in;
}

.user-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.image-user {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.image-description {
  color: white;
  font-family: Inter, sans-serif;
}

.likes-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 15px;
  padding-left: 5px;
}

.heart-icon {
  width: 20px;
  height: 20px;
}

.likes-count {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 12px;
}

.footer {
  background-color: #F5F5F5;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.footer__logo {
  transition: all 0.5s;
}

.footer__logo:hover {
  filter: invert(70%) sepia(68%) saturate(535%) hue-rotate(153deg) brightness(87%) contrast(87%);
  transition: all 0.5s;
}

.github {
  width: 50px;
  height: auto;
}

.copyright {
  display: block;
  width: 60px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.rs-school {
  width: 100px;
  height: auto;
}

.window-line {
  background-color: white;
  position: fixed;
}

.window-line-left {
  width: 20px;
  top: 0;
  left: 0;
  bottom: 0;
}

.window-line-top {
  height: 20px;
  top: 0;
  left: 0; 
  right: 0;
}

.window-line-right {
  width: 20px;
  top: 0;
  right: 0;
  bottom: 0;
}

.window-line-bottom {
  height: 20px;
  bottom: 0;
  left: 0; 
  right: 0;
}

