@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Merriweather/Merriweather-Bold.ttf");
}

:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font1: 60px;
  --font2: 40px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::placeholder {
  color: var(--color-gold);
  font-family: Inter, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 27px;
}

body {
  margin: 0 auto;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Inter, Helvetica, sans-serif;
  font-weight: 400;
}

form {
  margin-top: 40px;
  margin-left: 20px;
}

h1 {
  color: var(--color-white);
  font-family: Merriweather, Helvetica, sans-serif;
  font-size: var(--font1);
  line-height: 120px;
  margin: 0;
}

h2 {
  background-color: var(--color-black);
  color: var(--color-gold);
  font-family: Merriweather, Helvetica, sans-serif;
  font-size: var(--font2);
  text-align: center;
  margin: 0 auto;
  width: 152px;
  height: 80px;
  line-height: 80px;
}

h3 {
  color: var(--color-white);
  font-family: Merriweather, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 56px;
  margin-bottom: 21px;
}

h4 {
  color: var(--color-white);
  font-family: Inter, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 38px;
  font-weight: 700;
  margin-bottom: 22px;
}

input,
textarea {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid var(--color-gold);
  color: var(--color-gold);
  font-family: inherit;
  font-size: 20px;
  display: block;
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 18px;
}

input:focus,
textarea:focus {
  color: var(--color-gold);
  font-family: inherit;
  font-size: 20px;
  padding-left: 18px;
  outline: none;
  border-color: var(--color-white);
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

textarea {
  height: 100px;
  resize: none;
  padding-top: 10px;
}

textarea:focus {
  padding-top: 10px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.benefits {
  width: 364px;
  height: 180px;
  margin: 0 auto 39px auto;
  display: flex;
  flex-direction: column;
  
}

.benefits span {
  color: var(--color-white);
  font-size: 18px;
  line-height: 36px;
  display: block;
  height: 36px;
}

.button {
  background-color: var(--color-gold);
  border: 0;
  color: var(--color-black);
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  transition: color 0.3s;
  width: 220px;
  height: 55px;
}

.button:hover,
.button.other:hover {
  color: var(--color-white);
  transition: color 0.3s;
}

.button.other {
  background-color: var(--color-black);
  border: 2px solid var(--color-gold);
  color: var(--color-gold);
  transition: color 0.3s;
}

.button-container {
  width: 895px;
  margin: 60px auto 50px 252px;
  display: flex;
  justify-content: space-between;
}

form .button {
  margin-top: 10px;
}

.card {
  width: 450px;
  border: 3px solid var(--color-gold);
  padding: 12px 0 10px 0;
  text-align: center;
}

.card button {
  margin: 0 auto;
}

.contacts {
  background-image: url("./img/jpg/contacts.jpg");
  width: 1440px;
  height: 700px;
  margin-left: -20px;
  padding-top: 60px;
  padding-left: 950px;
}

.contacts h2 {
  background-color: transparent;
  width: 450px;
  height: 80px;
  text-align: left;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.container.header,
p {
  font-family: Inter, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--color-white);
}

.container.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header {
  background: url("./img/jpg/bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

.container.header a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.3s;
}

.container.header a:hover {
  color: var(--color-gold);
  transition: color 0.3s;
}

.current {
  color: var(--color-gold);
}

.footer-center a {
  display: block;
  padding-left: 19px;
}

.footer-container {
  display: flex;
  height: 150px;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  width: 168px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-center a,
.footer-left a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
}

.footer-center a:hover,
.footer-left a:hover {
  color: var(--color-gold);
  transition: color 0.3s;
}

.footer-right {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-right li {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 0.3s;
}

.footer-right a:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: filter 0.3s;
}

.h2-wrapper {
  width: 50%;
  margin: 0 auto;
  background-image: linear-gradient(
    to top,
    var(--color-black) 39px,
    var(--color-gold) 39px,
    var(--color-gold) 41px,
    var(--color-black) 41px
  );
}

.hero-container {
  background-image: url("./img/jpg/bg.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 160px;
  padding-left: 60px;
  height: 910px;
}

.hero-container p {
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 10px;
}

.img {
  width: 450px;
  height: 560px;
}

.img-container {
  width: 1400px;
  height: 1145px;
  margin: 60px auto 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
}

.info {
  width: 490px;
  height: 330px;
}

.language {
  width: 70px;
  height: 50px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language a {
  width: 19px;
}

.language .current {
  width: 25px;
}

.language .slash {
  width: 7px;
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  transition: filter 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: filter 0.3s;
}

.logo a {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  width: 501px;
  height: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.play {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.play img {
  transition: filter 0.3s;
}

.play img:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: filter 0.3s;
}

.play-button {
  width: 130px;
  height: 130px;
}

.portfolio {
  margin-top: 10px;
}

.portfolio h2 {
  width: 221px;
  margin-left: 238px;
}

.price h2 {
  width: 142px;
}

.price-cards {
  width: 1400px;
  height: 505px;
  display: flex;
  justify-content: space-between;
  margin: 60px auto 100px auto;
  padding-left: 0;
}

.rate {
  color: var(--color-gold);
  font-size: 24px;
  line-height: 48px;
  margin-top: 0;
  margin-bottom: 20px;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1400px;
  height: 242px;
  margin-top: 60px;
}

.skill-item {
  width: 320px;
  height: 240px;
  text-align: center;
}

.skill-item p {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  width: 280px;
  margin: 0 auto;
}

.skill-item img {
  margin-bottom: 20px;
}

.skills {
  padding-top: 10px;
  height: 482px;
}

.thumbnail {
  width: 1400px;
  height: 705px;
  margin: 60px auto 100px auto;
  background-image: url("./img/jpg/video-player.jpg");
  padding-left: 630px;
  padding-top: 287px;
}

.video h2 {
  width: 156px;
  margin-left: 273px;
}

@media (max-width: 768px) {

  form {
    width: 450px;
    text-align: center;
  }

  form .button {
    margin-top: 10px;
  }
  
  h1 {
    font-size: 32px;
    font-style: normal;
    line-height: 64px;
    font-weight: normal;
  }

  h2 {
    font-size: 32px;
    line-height: 40.22px;
    width: 130px;
    height: 40px;
  }

  h4 {
    margin-bottom: 22px;
  }

  .hero-container .button {
    width: 219px;
    height: 54px;
  }

  .button-container {
    width: 445px;
    height: 115px;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    row-gap: 5px;
  }

  .card {
    width: 420px;
    height: 505px;
  }

  .contacts {
    background-image: url("./img/jpg/contacts1.jpg");
    width: 100%;
    height: 600px;
    padding-top: 44px;
    padding-left: 139px;
    margin: 0 auto;
  }

  .contacts h2 {
    text-align: center;
    margin-left: 20px;
    margin-top: 16px;
    height: 64px;
    line-height: 64px;
  }

  .container {
    width: 100%;
    padding: 0;
  }

  .container-header {
    padding: 0 60px;
    background-position: -5px -30px;
    background-size: auto 620px;
  }

  .h2-wrapper {
    width: 47.5%;
    height: 80px;
    margin: 0 auto;
    padding-top: 20px;
    background-image: linear-gradient(
      to top,
      var(--color-black) 39px,
      var(--color-gold) 39px,
      var(--color-gold) 41px,
      var(--color-black) 41px
    );
  }

  .nav {
    display: none;
  }

  .hero-container {
    padding-top: 79px;
    padding-left: 60px;
    height: 500px;
    background-position: -5px -120px;
    background-size: auto 620px;
    margin-bottom: 70px;
  }

  .hero-container p {
    width: 390px;
    line-height: 24.2px;
    margin-top: 9px;
    margin-bottom: 59px;
    padding-top: 10px;
  }

  .img-container {
    width: 450px;
    height: 3485px;
    margin: 60px auto 80px auto;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 25px;
  }

  .skill-container {
    width: 668px;
    height: 520px;
    margin: 45px auto 60px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  .play-button {
    width: 75px;
    height: 75px;
  }

  .play-button img {
    width: 65px;
    height: 65px;
  }

  .portfolio {
    margin-top: 257px;
  }

  .portfolio h2 {
    width: 185px;
    margin: 0 auto;
  }

  .price h2 {
    width: 124px;
  }

  .price-cards {
    width: 420px;
    height: 1665px;
    margin: 50px auto 30px auto;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 0;
  }

  .skill-item img {
    margin-bottom: 0px;
  }

  .skill-item p {
    line-height: 22px;
  }

  .thumbnail {
    width: auto;
    height: 418px;
    background-image: url("./img/jpg/video-player1.jpg");
    background-repeat: no-repeat;
    margin: 50px auto 80px auto;
    padding-top: 176px;
    padding-left: 344px;
  }

  .video h2 {
    width: 130px;
    margin: 0 auto;
  }