@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
  font-family: Merriweather;
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/Merriweather/Merriweather-Bold.ttf");
}

:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font1: 60px;
  --font2: 40px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  background-color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Inter, Helvetica, sans-serif;
  font-weight: 400;
}

h1 {
  color: var(--color-white);
  font-family: Merriweather, Helvetica, sans-serif;
  font-size: var(--font1);
  line-height: 120px;
  margin: 0;
}

h2 {
  background-color: var(--color-black);
  color: var(--color-gold);
  font-family: Merriweather, Helvetica, sans-serif;
  font-size: var(--font2);
  text-align: center;
  margin: 0 auto;
  width: 152px;
  height: 80px;
  line-height: 80px;
}

h3 {
  color: var(--color-white);
  font-family: Merriweather, Helvetica, sans-serif;
  font-size: 28px;
  line-height: 56px;
  margin-bottom: 21px;
}

h4 {
  color: var(--color-white);
  font-family: Inter, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
}

.benefits {
  padding-left: 0;
  margin-bottom: 38px;
}

.benefits li {
  color: var(--color-white);
  font-size: 18px;
  line-height: 36px;
}

.button {
  background-color: var(--color-gold);
  border: 0;
  color: var(--color-black);
  cursor: pointer;
  font-family: inherit;
  font-size: 20px;
  width: 220px;
  height: 55px;
}

.button.other {
  background-color: var(--color-black);
  border: 2px solid var(--color-gold);
  color: var(--color-gold);
}

.button-container {
  width: 895px;
  margin: 60px auto 50px auto;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.card {
  width: 450px;
  border: 2px solid var(--color-gold);
  padding: 13px;
  text-align: center;
}

.card button {
  margin: 0 auto;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.container.header,
p {
  font-family: Inter, Helvetica, sans-serif;
  font-size: 20px;
  color: var(--color-white);
}

.container.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header {
  background: url('./img/jpg/bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.container.header a {
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.3s;
}

.container.header a:hover {
  color: var(--color-gold);
  transition: color 0.3s;
}

.current {
  color: var(--color-gold)
}

.h2-wrapper {
  width: 50%;
  margin: 0 auto;
  background-image: linear-gradient(to top, var(--color-black) 39px, var(--color-gold) 39px, var(--color-gold) 41px, var(--color-black) 41px);
}

.hero-container {
  background-image: url('./img/jpg/bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  margin: 0 auto;
  padding-top: 160px;
  padding-left: 60px;
  height: 910px;
}

.hero-container p {
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 25px;
  padding-top: 10px;
}

.img {
  width: 450px;
  height: 560px;
}

.img-container {
  width: 1400px;
  height: 1145px;
  margin: 60px auto 100px auto;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  row-gap: 25px;
}

.info {
  width: 490px;
  height: 330px;
}

.language {
  width: 70px;
  height: 50px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  transition: filter 0.3s;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: filter 0.3s;
}

.logo a {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  width: 540px;
  height: 50px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.play {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.play img {
  transition: filter 0.3s;
}

.play img:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  transition: filter 0.3s;
}

.play-button {
  width: 130px;
  height: 130px;
}

.portfolio {
  margin-top: 10px;
}

.portfolio h2 {
  width: 218px;
}

.price-cards {
  width: 1400px;
  height: 505px;
  display: flex;
  justify-content: space-between;
  margin: 60px auto 100px auto;
  padding-left: 0;
}

.rate {
  color: var(--color-gold);
  font-size: 24px;
  line-height: 48px;
  margin-top: 0;
}

.skill-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1400px;
  height: 242px;
  margin-top: 60px;
  padding-left: 0;
}

.skill-item {
  width: 320px;
  height: 240px;
  text-align: center;
}

.skill-item p {
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  width: 280px;
  margin: 0 auto;
}

.skill-item img {
  margin-bottom: 20px;
}

.skills {
  padding-top: 10px;
  height: 482px;
}

.thumbnail {
  width: 1400px;
  height: 705px;
  margin: 60px auto 100px auto;
  background-image: url("./img/jpg/video-player.jpg");
  padding-left: 630px;
  padding-top: 287px;
}